backend:
  endpoint: http://127.0.0.1:8080
user:
  script: script_user
  compile: compile_user
  run: run_user
  compare: compare_user
log:
  log_path: ./test.log
  judger_log_path: ./test_judger.log
auth:
  name: write_judger_name_here
  token: write_judger_token_here
path:
  scripts: ./scripts
  runs: ./runs
timeout:
  script:
    unzip: 300s
    compile: 600s
